*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 1200px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
header {

    background-image: url(../img/pattern.png);
    background-size: 350px;
    background-repeat: repeat-20;
    background-color: rgb(105, 162, 238);
}
header img{
    padding: 20px 0 10px 10px;
    width: 300px;
}
section{
    margin-bottom: 40px;
}

section div span, section div p{
    color: grey;
}
.cyan{
    color: rgb(23, 179, 252);
}

.images_figure{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.list{
    margin-top: 40px;
}