*{
    box-sizing: border-box;
    margin: 0;
}

main{
    width: 1200px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px
}
header {
    width: 100vw;
    background-image: url(../img/pattern.png);
    background-size: 350px;
    background-color: rgb(105, 162, 238);
    margin-bottom: 20px;
}

header div{
    width: 1200px;
    margin: auto;
    padding: 0;
}
header img{
    margin: auto;
    padding: 20px 0 10px 0px;
    width: 300px;
}
section{
    margin-bottom: 40px;
}

section div span, section div p, #ads{
    color: grey;
}
#data{
    font-size: 0.7rem;
    margin-bottom: 20px;
}
.cyan{
    color: rgb(23, 179, 252);
}

.images_figure{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.figcaption{
    font-size: 0.4rem;
}

ul{
    padding-left: 15px;
}
.list{
    margin-top: 40px;
}

table{
    text-align: left;
    border-spacing: 0;
}
thead{
    background-color: rgb(21, 128, 216);
    color: white;
}
tbody{
    background-color: rgb(143, 240, 240);
}
tbody tr:nth-child(2){
    background-color: white;
}

.hero{
    color: grey;
    position: relative;
}

.over{
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
}